/* LUCES */


.light-ball {
    position: absolute;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background: radial-gradient(circle, #135464 40%, #051E25 150%);
    filter: blur(100px);
    z-index: -1;
  }
  
  .dark-ball {
    position: absolute;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background: radial-gradient(circle, #051E25 40%, #051E25 150%);
    filter: blur(100px);
    z-index: 0;
  }
  
  
  .ball0 {
    width: 80vh;
    height: 80vh;
    left: -10%;
    top: 100vh;
    opacity: 50%;
  }
  
  .ball01 {
    width: 80vh;
    height: 80vh;
    left: 80%;
    top: 125vh;
    opacity: 50%;
  }
  .ball02 {
    width: 400vh;
    height: 150vh;
    left: -70%;
    top: 40vh;
    opacity: 80%;
  }
  .ball022 {
    width: 200vh;
    height: 200vh;
    left:5%;
    top:300vh;
    opacity: 60%;
  }
  .ball03 {
    width: 50vh;
    height: 50vh;
    left: 90%;
    top: -40vh;
  }
  
  .hardSkills {
    top: 20%;
    left: 20%;
    background: radial-gradient(circle, #60E8D2 40%, #051E25 150%);
    animation: moveBall1 10s infinite alternate;
  }
  
  .softSkills {
    top: 70%;
    left: 50%;
    background: radial-gradient(circle, #60E8D2 40%, #051E25 150%);
    animation: moveBall2 8s infinite alternate;
  }
  
  @keyframes moveBall1 {
    0% {
      top: 20%;
      left: 20%;
    }
  
    50% {
      top: 20%;
      left: 80%;
    }
  
    100% {
      top: 20%;
      left: 50%;
    }
  }
  
  @keyframes moveBall2 {
    0% {
      top: 50%;
      left: 50%;
    }
  
    50% {
      top: 70%;
      left: 20%;
    }
  
    100% {
      top: 50%;
      left: 50%;
    }
  }
  
  